[(#REM)
	Fournit les informations de la derniere release de la version stable.

	Le parametre "info" permet de renvoyer une ou plusieurs informations précises:
		Version : <supportedversions|stable|info=version>

		Date : <supportedversions|stable|info=date>

		Url : <supportedversions|stable|info=url>

		Tout : <supportedversions|stable|info=version,date,url>

		Rien : <supportedversions|stable>
]
<BOUCLE_stable(DATA){source table, #VAL{stable}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,1}>
	[(#ENV{info}|strstr{version}|oui)#LAST_VERSION_RELEASE]
	[(#ENV{info}|strstr{date}|oui)[(#LAST_DATE_RELEASE|affdate)]]
	<BOUCLE_url(CONDITION){si #ENV{info}|strstr{url}}>
		<BOUCLE_releases(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}{0,1}>
			<BOUCLE_download(DATA){source table, #DOWNLOAD}>#URL</BOUCLE_download>
		</BOUCLE_releases>
	</BOUCLE_url>
</BOUCLE_stable>
#FILTRE{trim}
