#SET{list, #ARRAY{dev, #ARRAY{
	url, https://files.spip.net/spip/dev/spip-master.zip,
	php, #LISTE{8.2,8.3,8.4}
}}
<BOUCLE_pre_releases(DATA){source json, #CHEMIN{data/pre_releases.json}}{branch=#VAL{future}|SupportedVersions::getBranchesFromState|table_valeur{0/branch}}>
	<BOUCLE_releases(DATA){source table, #PRE_RELEASES}{par released_at}{inverse}{0,1}>
		<BOUCLE_download(DATA){source table, #DOWNLOAD}>
			#SET{release, #ARRAY{
				url, #URL,
				php, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php},
				extensions, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php-ext},
				ram, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/ram},
				freespace, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/freespace},
				sha1, #SHA1}}
		</BOUCLE_download>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{release}}}}
	</BOUCLE_releases>
</BOUCLE_pre_releases>
<BOUCLE_stable(DATA){source table, #VAL{stable}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,2}>
	<BOUCLE_release_stable(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_stable(DATA){source table, #DOWNLOAD}>
			#SET{release, #ARRAY{
				url, #URL,
				php, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php},
				extensions, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php-ext},
				ram, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/ram},
				freespace, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/freespace},
				sha1, #SHA1}}
		</BOUCLE_download_stable>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{release}}}}
	</BOUCLE_release_stable>
</BOUCLE_stable>
<BOUCLE_security(DATA){source table, #VAL{security}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,1}>
	<BOUCLE_release_security(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_security(DATA){source table, #DOWNLOAD}>
			#SET{release, #ARRAY{
				url, #URL,
				php, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php},
				extensions, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php-ext},
				ram, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/ram},
				freespace, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/freespace},
				sha1, #SHA1}}
		</BOUCLE_download_security>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{release}}}}
	</BOUCLE_release_security>
</BOUCLE_security>
<BOUCLE_eol(DATA){source table, #VAL{eol}|SupportedVersions::getBranchesFromState}{par last_date_release}{inverse}{0,1}>
	<BOUCLE_release_eol(DATA){source table, #RELEASES}{version=#LAST_VERSION_RELEASE}>
		<BOUCLE_download_eol(DATA){source table, #DOWNLOAD}>
			#SET{release, #ARRAY{
				url, #URL,
				php, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php},
				extensions, #VERSION|SupportedVersions::getBranchValues|table_valeur{technologies/require/php-ext},
				ram, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/ram},
				freespace, #VERSION|SupportedVersions::getBranchValues|table_valeur{system/freespace},
				sha1, #SHA1}}
		</BOUCLE_download_eol>
		#SET{list, #GET{list}|array_merge{#ARRAY{#VERSION, #GET{release}}}}
	</BOUCLE_release_eol>
</BOUCLE_eol>
[(#GET{list}|json_encode)]
#FILTRE{trim}
