<B_compatibility>
<table class="spip supportedversions">
	<thead>
		<BOUCLE_compatibility_head(DATA){source table, #VAL{true}|SupportedVersions::phpMatrix}{0,1}>
			<tr>
				<th>&nbsp;</th>
				<th style="text-align: center;" colspan="[(#VALEUR|count)]"><:supportedversions:php_compatibility:></th>
			</tr>
			<tr>
				<th>SPIP</th>
				<BOUCLE_matrix_head(DATA){source table, #VALEUR|array_keys}>
					<th>#VALEUR</th>
				</BOUCLE_matrix_head>
			</tr>
		</BOUCLE_compatibility_head>
	</thead>
	<BOUCLE_compatibility(DATA){source table, #VAL{true}|SupportedVersions::phpMatrix}>
		<tr[ class="(#CLE|SupportedVersions::getBranchValues|SupportedVersions::state)"]>
			<td>#CLE</td>
			<BOUCLE_matrix(DATA){source table, #VALEUR}>
				<td>
					[(#VALEUR|?{
						<span title="<:item_oui:>" style="color: #6f9271;">&#x2714;</span>,
						<span title="<:item_non:>" style="color: #cccccc;">&#x2718;</span>
					})]
				</td>
			</BOUCLE_matrix>
		</tr>
	</BOUCLE_compatibility>
</table>
</B_compatibility>
